body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana del navegador */
}

.sombreado {
    background: url('img/QuienSoy.jpg') no-repeat center center fixed; 
    background-size: cover; /* Cubre todo el espacio disponible */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* 100% de la altura de la ventana */
    color: #ffffff; /* Color de texto */
}

.sombreado h3 {
    background: rgba(198, 110, 222, 0.8); /* Fondo semi-transparente para mejor lectura */
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
    margin: 0; 
    margin-bottom: 400px;
}

.sombreado h3:hover {    
    color: #58175e; 
    transition: 0.5s;
}





